<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <form action="submit" method="post"> {% csrf_token %}
        <div align="center">
            <label>Usuário:</label>
            <input type="text" name="username">
            <label>Password</label>
            <input type="password" name="password">
            <button type="submit">Entrar</button>
        </div>
    </form>

    {% for message in messages %}
    <div align="center">
        <strong> Error </strong>{{ message }}
    </div>
    {% endfor %}

</body>
</html>